* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #1a1a1a;
}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
/*header*/
/* background top left box of header*/
.box{
    padding: 16em 6em 6em 6em;
    background-color: #e39101;
    position:absolute;
    z-index: -1;
}


header{
    display: flex;
    justify-content: flex-start;
    background: none;
    padding-top: 4em;
    
    align-items: center;
    width: 1500px;
    flex-direction: row;
    padding-left: 12rem;
    
}

.headerNav{
    display: flex;
    margin: 2em;
    width: 100em;
    justify-content: center;

    
}
.headerbtn-wrapper {
    display: flex;
   align-items: flex-end;
   justify-content: flex-end;

    width: 715px;
    height: 50px;
}
.headerbtn{
    justify-content: flex-end;
    justify-content: end;
    
    background-color: #e39101;
    border: 0;
    color: white;
    padding:1em;
    height: 3em;
    

}
.headerbtn:hover {
    background-color:#9e6500 ;
}
.headerbtn:active {
    transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.headerNav ul{
    list-style-type: none;
    display: flex;
    gap: 10em;
    align-items: flex-start;
}
.headerNav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
   
}

.logo{
    height: 8em;
    width: auto;
    margin-left: -4em;
}
/* Hero section*/
.hero{
    display: flex;
}
/* socialmedia div*/
.socialMedia{
    height: 300px;
    width: 100px;
    margin-left: 6em;
    margin-top: 13em;
}
/* list of the icons */
.socialMedia ul {  
    display: flex;
    list-style-type: none;
    line-height: 25px;
    flex-direction: column;
    
    
} 

.socialMedia a{
    color: white;
    display: block;
    gap: 1em;
    margin: 5em;
}
/* Hero div for texts and button*/
.text-wrapper {
    width: 59em;
    height: 70em;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-start;
}
.heroTexts{
    display: flex;
    width: min-content;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;   
}

.hero-h1{
    color: white;
    text-transform: uppercase;
    font-weight: 200%;
    font-size: 8rem;
    
   
}
/* Hero slide details*/
.details{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 2em;
    
}
/* Hero slide price*/
.price{
    color: gray;
    font-size: 1.5rem;
    padding-top: 1em;
    padding-bottom: 5em;
}
/* Hero drive now button*/
.dirve-now {
    color: white;
    background-color: transparent;
    width: 15em;
    height: 4.4em;
    border: solid 0.9px;
    border-color: #e39101;
}

.dirve-now:hover {
    background-color: #e39101;

}

.dirve-now:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
.heroImage {
    position:absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.car-picture {
    width: 1000px;
    height: 900px;
    object-fit: cover;
    filter: brightness(60%);
}



